@import "tailwindcss";

.color-primary {
  color: #0b0d17;
}
.bg-primary {
  background-color: #0b0d17;
}
.color-secondary {
  color: #d0d6f9;
}
.bg-secondary {
  background-color: #d0d6f9;
}

.font-bellefair {
  font-family: "Bellefair", serif;
}

.font-barlow {
  font-family: "Barlow", sans-serif;
}

.font-barlow-condensed {
  font-family: "Barlow Condensed", sans-serif;
}

.backdrop {
  background-color: rgba(17, 24, 39, 0.95);
  backdrop-filter: blur(80px) !important;
}

.line-height-text {
  line-height: 180%;
}

.text-14 {
  font-size: 14px;
}

.leading-18 {
  line-height: 72px;
}

.planet-button {
  transition: all 0.3s ease;
}

.planet-button.selected::before {
  width: 100%;
  background-color: white;
}

.planet-button::before {
  transition: width 0.3s ease-in-out;
}

.link.selected::before {
  width: 100%;
  background-color: white;
}

@media (max-width: 640px) {
  .link.selected::before {
    width: 3px;
    height: 100%;
  }
}

.link::before {
  transition: width 0.3s ease-in-out;
}

.crew-button.selected {
  opacity: 100%;
}

.technology-button.selected {
  background-color: white;
  color: #0b0d17;
}

/* Disparition progressive */
.fade-out {
  opacity: 0;
  transform: translateY(5px);
  transition:
    opacity 0.6s ease-in-out,
    transform 0.6s ease-in-out;
}

/* Apparition progressive */
.fade-in {
  opacity: 0;
  transform: translateY(-5px);
  animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Home */
.bg-home-mobile {
  background-image: url("./assets/home/background-home-mobile.jpg");
}

@media (min-width: 768px) {
  .bg-home-tablet {
    background-image: url("./assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .bg-home-desktop {
    background-image: url("./assets/home/background-home-desktop.jpg");
  }
}

/* Destination */
.bg-destination-mobile {
  background-image: url("./assets/destination/background-destination-mobile.jpg");
}

@media (min-width: 768px) {
  .bg-destination-tablet {
    background-image: url("./assets/destination/background-destination-tablet.jpg");
    background-size: 100% auto;
  }
}

@media (min-width: 1024px) {
  .bg-destination-desktop {
    background-image: url("./assets/destination/background-destination-desktop.jpg");
    background-size: 100% auto;
  }
}

/* Crew */
.bg-crew-mobile {
  background-image: url("./assets/crew/background-crew-mobile.jpg");
}

@media (min-width: 768px) {
  .bg-crew-tablet {
    background-image: url("./assets/crew/background-crew-tablet.jpg");
    background-size: 100% auto;
  }
}

@media (min-width: 1024px) {
  .bg-crew-desktop {
    background-image: url("./assets/crew/background-crew-desktop.jpg");
    background-size: 100% auto;
  }
}

/* Technology */
.bg-technology-mobile {
  background-image: url("./assets/technology/background-technology-mobile.jpg");
}

@media (min-width: 768px) {
  .bg-technology-tablet {
    background-image: url("./assets/technology/background-technology-tablet.jpg");
    background-size: 100% auto;
  }
}

@media (min-width: 1024px) {
  .bg-technology-desktop {
    background-image: url("./assets/technology/background-technology-desktop.jpg");
    background-size: 100% auto;
  }
}
